.box
{
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 320px;
}
.display
{
    width: 100%;
	height: 60px;
	padding: 40px 0;
	background: #FF0509;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
    
}
input[type=button]
{
    position: relative;
    width: 60px;
	height: 60px;
	float: left;
	padding: 0;
	margin: 9px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
    outline:none;
}
input[type=text]
{
    width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: ;
	color: black;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
}
.red
{
    background-color: #FF0509 !important;
    color:#ffffff !important ;
}
.blue
{
    background-color: blue !important;
    color:#ffffff !important ;
}
.btn-grad 
{
    background-color: #EC7063 !important;
    color:#ffffff !important ;
}
.submit
{
    background-color: #28B463 !important;
    color:#ffffff !important ;
}

input[type=button]:active
{
    background-color: #000000 !important;
    color:#ffffff !important ;
}